.user_actions_area
    display: flex
    justify-content: flex-end
    align-items: center
    .logout_btn
        a
            color: var(--text-color)
            svg
                width: 20px
                height: 20px
                color: var(--bs-gray-500)
    .user_profile_btn
        color: var(--text-color)
        display: flex
        align-items: center
        span
            width: 90px
            font-size: 11px
        .user_avatar
            display: grid
            place-items: center
            text-align: center
            border-radius: 10px
            margin-right: .75rem
            width: 36px
            height: 36px
            border: 2px solid var(--bs-gray-400)
            img
                object-fit: cover
                border-radius: 5px