.app_nav_btns_container
    width: 80px
    display: flex
    align-items: center
    justify-content: space-between
    .app_nav_btn
        all: unset
        cursor: pointer
        svg
            width: 24px
            height: 24px
        &:disabled
            opacity: 0.3
            cursor: not-allowed