@import './variables'

#app-container
    display: flex
    height: 100vh
    flex-direction: column
    justify-content: space-between
    #fixed-bottom-banner-area
        height: 80px
        background: $secondary02
        position: fixed
        bottom: 0
        width: 100%
        border-top: 1px solid $secondary04
    #app-main-area
        margin-bottom: 80px
        overflow: hidden
        display: flex
        height: 100%
        #app-main-content
            position: relative
            background: $secondary03
            width: 100%
            overflow-y: scroll
            #app
                position: absolute
                width: 100%