@import './variables'

#app-container
    display: flex
    height: 100vh
    flex-direction: column
    justify-content: space-between
    #fixed-bottom-banner-area
        height: 80px 
        background: var(--secondary03)
        position: fixed
        bottom: 0
        width: 100%
        box-shadow: 1px 1px 12px #00000025
    #app-main-area
        margin-bottom: 80px
        overflow: hidden
        display: flex
        height: 100%
        #app-main-content
            position: relative
            background: var(--secondary03)
            width: 100%
            overflow-y: scroll
            #app
                position: absolute
                width: 100%