@import './variables'

// APP SCROLLBAR STYLE
::-webkit-scrollbar-thumb 
    background: $secondary04
::-webkit-scrollbar 
    width: 7px


body
    overflow: hidden !important
    font-family: $font-family
    font-size: $font-size
    font-weight: $font-weight
    color: $secondary05
    background: $secondary01
    svg
        path
            stroke: $secondary05
    button
        all: unset
        cursor: pointer
        color: $secondary05
    a
        text-decoration: none
        display: inline-block
        color: $secondary05
        &:hover
            color: $secondary05
    ul
        padding: 0
        left: 0
        list-style: none
    .container
        margin: 0
        max-width: 1440px
        padding-right: $container-padding
        padding-left: $container-padding