$font-family: 'poppins', 'cairo'
$font-size: 12px
$font-weight: 400 
$container-padding: 18px

// PRIMARY COLORS
$primary01: #1DB954

// GRADIENTS COLORS
$gradient01: linear-gradient(90deg, #3DD5F3 0%, #3D8BFD 100%)
$gradient02: linear-gradient(90deg, #3D8BFD 0%, #8C68CD 100%)
$gradient03: linear-gradient(90deg, #d35192 0%, #3D8BFD 100%)
$gradient04: linear-gradient(90deg, #DE5C9D 0%, #E35D6A 100%)
$gradient05: linear-gradient(90deg, #E35D6A 0%, #FD9843 100%)
$gradient06: linear-gradient(90deg, #FFCD39 0%, #4DD4AC 100%)
$gradient07: linear-gradient(90deg, #1DB954 0%, #4DD4AC 100%)